
body{
	font-family: "Lucida Grande", sans-serif;
	color: #666666;
}


h1{ 
    font-size:48px;
	padding-top: 30px;
	text-align: center;
	color: #666666;
    line-height:100%;
}

h2{
	color: #F07C17;
	font-size: 20px;
	padding-bottom: 20px;
    line-height:80%;
    
}
#subtitle{
	 margin-top: 20px;

}
#first{
	
	font-size: 12px;
	width: 70%;
	word-spacing: 2px;
	line-height: 250%;

}
.features{
   margin-top: 25px;
   padding: 20px;
   border: 1px solid #cccccc;
   height: 200px;
   width:  100%;
   
}

li{
	font-size: 12px;
	font-weight: 10px;
	padding-bottom: 20px;
}
.col-md-7{

}

.img-responsive{
  margin-top: 20px;
  max-width: 100%;
}

